.containerLogin{
    background-color: #131313;
    display: flex;
    height: 100vh;
    width: 100vw;
}
.firstColumnLogin{
    height: 100%;
    width: 100%;
}
.bg-login{
    display: flex; 
    width: 100%;
    height: 100%;
}
.containerForm
{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: "10%";
}
.rowLogo{
    margin-bottom: 5%;
}
.iconLogin{
    color: #FFFFFF;
    width: "24.79px";
    height: "32.95px";
}
.inputLogin{
    border-radius: 32.5px;
    /* width: "384px";
    height: "65px"; */
    background-color: #575756;
    text-decoration: none;
    border: none;
}
.inputLogin::placeholder{
    color: #FFFFFF;
    text-decoration-color: #FFFFFF;
}
fieldset{
    border:none;
}

